<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.conferenceengineer.iosched.server.AuthenticationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>EntityWrapperManagerFilter</filter-name>
        <filter-class>com.conferenceengineer.iosched.server.EntityWrapperManagerFilter</filter-class>
    </filter>

    <filter>
        <filter-name>RequestCharsetFilter</filter-name>
        <filter-class>com.conferenceengineer.iosched.server.RequestCharsetFilter</filter-class>
    </filter>

    <filter>
        <filter-name>Sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RequestCharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>EntityWrapperManagerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/dashboard/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.Login</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.Logout</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BarcampDashboard</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.barcamp.Dashboard</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BarcampTalks</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.barcamp.TalksServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BarcampVoteServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.barcamp.VoteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ConferenceChooser</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.ConferenceChooser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.Dashboard</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DashboardLocations</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.DashboardLocations</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DashboardSessions</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.DashboardSessions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DashboardSpeakers</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.DashboardSpeakers</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DashboardTracks</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.DashboardTracks</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Invite</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.InviteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PublishServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.PublishServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SpeakersServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.SpeakersServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchSuggestionsServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.SearchSuggestionsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TalkLocationsServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.TalkLocationsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TalksServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.TalksServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TalkSlotServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.TalkSlotServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TracksServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.TracksServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TrackSessionsServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.TrackSessionsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ConferenceDayServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.ConferenceDayServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BarcampDashboard</servlet-name>
        <url-pattern>/barcamp/view/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BarcampVoteServlet</servlet-name>
        <url-pattern>/barcamp/vote</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BarcampTalks</servlet-name>
        <url-pattern>/barcamp/talks</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ConferenceChooser</servlet-name>
        <url-pattern>/dashboard/ConferenceChooser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard/Dashboard</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DashboardLocations</servlet-name>
        <url-pattern>/dashboard/DashboardLocations</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DashboardSessions</servlet-name>
        <url-pattern>/dashboard/DashboardSessions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DashboardSpeakers</servlet-name>
        <url-pattern>/dashboard/DashboardSpeakers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DashboardTracks</servlet-name>
        <url-pattern>/dashboard/DashboardTracks</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Invite</servlet-name>
        <url-pattern>/dashboard/invite</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PublishServlet</servlet-name>
        <url-pattern>/dashboard/publish</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchSuggestionsServlet</servlet-name>
        <url-pattern>/dashboard/searchSuggestions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SpeakersServlet</servlet-name>
        <url-pattern>/dashboard/speakers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TalksServlet</servlet-name>
        <url-pattern>/dashboard/talks</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TalkLocationsServlet</servlet-name>
        <url-pattern>/dashboard/talkLocations</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TrackSessionsServlet</servlet-name>
        <url-pattern>/dashboard/trackSessions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TalkSlotServlet</servlet-name>
        <url-pattern>/dashboard/talkSlots</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TracksServlet</servlet-name>
        <url-pattern>/dashboard/tracks</url-pattern>
        <url-pattern>/dashboard/tracks.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ConferenceDayServlet</servlet-name>
        <url-pattern>/dashboard/conferenceDays</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/dashboard/users</url-pattern>
    </servlet-mapping>

</web-app>
