<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <context-param>
        <param-name>conferenceName</param-name>
        <param-value>Droidcon London 2013</param-value>
    </context-param>

    <context-param>
        <param-name>conferenceId</param-name>
        <param-value>3</param-value>
    </context-param>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.conferenceengineer.iosched.server.AuthenticationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>EntityWrapperManagerFilter</filter-name>
        <filter-class>com.conferenceengineer.iosched.server.EntityWrapperManagerFilter</filter-class>
    </filter>

    <filter>
        <filter-name>Sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EntityWrapperManagerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/dashboard/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Bootstrap</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.BootstrapServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.Dashboard</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.Login</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.Logout</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TracksServlet</servlet-name>
        <servlet-class>com.conferenceengineer.iosched.server.dashboard.TracksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Bootstrap</servlet-name>
        <url-pattern>/Bootstrap</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard/Dashboard</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TracksServlet</servlet-name>
        <url-pattern>/dashboard/tracks</url-pattern>
    </servlet-mapping>
</web-app>
